* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
em,
i {
    font-size: normal;
}

li {
    list-style: none;

}

img {
    border:0;
    vertical-align: middle;
}

button {
  
    cursor:pointer;
}

a {
  color:#666;
  text-decoration: none;
}

a:hover {
    color: orangered;
}
button,
input {
    font-family:Microsoft Yahei,Heiti SC,tahoma,arial,Hiragino Sans GB;
    border: 0;
    outline:0
}

body {
    background-color: #f5f5f5;
    font:14px/1.5 Microsoft Yahei,Heiti SC,tahoma,arial,Hiragino Sans GB;
    color:#424242;
}
.clearfix:after {
    visibility: hidden;
    clear:both;
    display: block;
    content: ".";
    height: 0;

}