.breadcrumbs {
    height:40px ;
    line-height: 40px;
    font-size: 12px;
    color: #757575;
    
}
.search_filter {
    height: 80px;
    line-height: 80px;
    background-color: #fff;
}
.search_filter ul li {
    float: left;
    padding-right: 80px;
}
.order_list {
    height: 80px;
    line-height: 80px;
    
}
.order_list ul li {
    float: left;
    padding-right: 80px;
}



.goods_list ul li {
    position: relative;
  float: left;
  margin: 6px;
 background-color: #fff;
 width: 288px;
   height: 430px;
  
}

.goods_list ul li img {
    position: absolute;
    bottom: 130px;
    display: inline-block;
    vertical-align:middle ;
    width: 60%;
   margin: 0px 60px;
   
    
}
.goods_list ul li div {
    position: absolute;
    bottom: 20px;

}
.goods_list ul li h3,
h4 {
    text-align: center;
    font-weight: 400;
}
.goods_list ul li h4{
    margin-top: 10px;
    color: orangered;
}
.goods_list ul li:hover {
    box-shadow: 2px 2px 2px 2px gray;
}
