@font-face {
  font-family: "iconfont"; /* Project id 3817140 */
  src: url('iconfont.woff2?t=1670608621584') format('woff2'),
       url('iconfont.woff?t=1670608621584') format('woff'),
       url('iconfont.ttf?t=1670608621584') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-youjiantou:before {
  content: "\e622";
}

.icon-gouwuche:before {
  content: "\e73d";
}

